					<div class="modal fade" id="imagen" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="card text-center">
									<div style="position: absolute; padding: 10px;">
										<img id="perfil" width="32" height="32" style="border-radius: 50%; object-fit: cover;">
										<span id="nombre" class="font-weight-bold" style="color: #FFFFFF"></span>
									</div>
									<img id="historia" class="card-img-top" width="496" height="496" style="object-fit: cover; ">
									<div class="sombra" style="width: 100%; opacity: 0.6; background-color: #000000; padding: 10px;">
										<span id="mensaje" class="font-weight-bold" style="color: #FFFFFF"></span>
									</div>
								</div>
								
							</div>
						</div>
					</div>